body {
    background: hsla(240, 73%, 65%, 1);
    background: linear-gradient(90deg, hsla(240, 73%, 65%, 1) 0%, hsla(273, 75%, 66%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(240, 73%, 65%, 1) 0%, hsla(273, 75%, 66%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(240, 73%, 65%, 1) 0%, hsla(273, 75%, 66%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#AF67E9", endColorstr="#6565E7", GradientType=1 );
    height: 100vh;
    width: 100%;
    padding: 0 50px 0 35px;
    margin: 0;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.container {
    border-radius: 30px;
    height: 600px;
    max-width: 960px;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: white;
    justify-content: space-between;
    margin: 50px !important;
    box-sizing: border-box;
}

.container-image {
    display: flex;
    width: 40%;
    background-image: url('images/bg-pattern-desktop.svg');
    background-position: right;
    background-size: 200%;
    align-items: center;  
}

.women-desktop {
    position: relative;
    left: -15%;
}

.a-image {
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
}

.container-faq {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    padding: 60px;
}

.faq-text {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px black;
    width: 100%;
}

.dropcheck {
    display: none;
}

.spans {
    display: none;
    padding-bottom: 15px;
    font-size: 13px;
}

p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

h1 {
   font-size: 40px;
}

#checkImg {
    display: none;
}

img.rotated {
    transform: rotate(180deg);
  }

  @media only screen and (max-width: 945px) {
    .container {
        display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      max-width: 600px;
      justify-content: center;
      align-items: center;
      overflow: visible;
      margin: 30px;
      text-align: center;
    }

    .container-faq {
        width: 100%;
        padding: 40px;
    }
    
    .container-image {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .faq-text {
        width: 100%;
    }

    .women-desktop {
        width: 70%;
        margin-top: 2rem;
      }
    
      .a-image {
        display: flex;
        justify-content: center;
        position: fixed;
        transform: translate(0%, -500%);
        height: 6vw;
        transform-origin: center bottom;
      }
    }


